# AUTH CONFIG
AUTH_SECRET = 

AUTH_GITHUB_ID = 
AUTH_GITHUB_SECRET = 

AUTH_GOOGLE_ID = 
AUTH_GOOGLE_SECRET = 


# LOCAL MONGODB
MONGO_URI =
MONGO_CFG =


# OTHER ENVS
NEXTAUTH_URL = "http://localhost:3000"